<ion-content class="ion-padding custom-content" [fullscreen]="true" class="custom-content">
  <div class="background-container">
    <img src="assets/imgs/fondo.jpg" alt="Fondo" class="background-image" />
  </div>

  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title mode="md" class="ion-no-padding">
        <ion-label>
          <ion-text color="tertiary">Perfil</ion-text>
          <p><ion-text color="white"><strong>NOSOTROS</strong></ion-text></p>
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="objective-container">
    <h2 class="section-title">Nuestro Objetivo</h2>
    <p class="objective-text">
      Nuestro objetivo es acercar el arte a las personas, creando una plataforma interactiva
      que permita explorar, aprender y disfrutar de las diferentes corrientes artísticas de la 
      historia. Desarrollar una aplicación que permita identificar el estilo de arte de una pintura 
      utilizando inteligencia artificial, facilitando el acceso al conocimiento artístico y promoviendo 
      el interés en las diferentes corrientes artísticas.
    </p>
  </div>

  <div class="team-container">
    <h2 class="section-title">Integrantes</h2>
    <div class="team-grid">

      <div class="team-member">
        <img src="assets/imgs/nino.png" alt="Piero Pazmiño" class="member-image" />
        <h3 class="member-name">Piero Pazmiño</h3>
        <p class="member-role">Diseño y desarrollo web</p>
      </div>

      <div class="team-member">
        <img src="assets/imgs/nino2.png" alt="Isaac Criollo" class="member-image" />
        <h3 class="member-name">Isaac Criollo</h3>
        <p class="member-role">Diseño y desarrollo web</p>
      </div>

      <div class="team-member">
        <img src="assets/imgs/nina.png" alt="Paulette Maldonado" class="member-image" />
        <h3 class="member-name">Paulette Maldonado</h3>
        <p class="member-role">Diseño y desarrollo web</p>
      </div>

      
    </div>
  </div>
</ion-content>
