<ion-content [fullscreen]="true" class="custom-content">

  <div class="background-container">
    <img src="assets/imgs/fondo.jpg" alt="Fondo" class="background-image" />
  </div>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title mode="md" class="ion-no-padding">
        <ion-label>
          <ion-text color="tertiary" >Detector de Arte!</ion-text>
          <p><ion-text color="white"><strong>IA-Art DETECTOR</strong></ion-text></p>
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-card-header>
      <ion-card-title class="titulo">Escuelas de Arte Existentes</ion-card-title>
    </ion-card-header>
  
    <ion-card>
      <ion-card-content>
        <div class="card-content">
          <img src="assets/images/p1.jpg"/>
          <div>
            <h2>Romanticismo</h2>
            <h3>Epoca</h3>
            <p>Descripcion</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="card-content">
          <img src="assets/images/p1.jpg"/>
          <div>
            <h2>Romanticismo</h2>
            <h3>Epoca</h3>
            <p>Descripcion</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="card-content">
          <img src="assets/images/p1.jpg"/>
          <div>
            <h2>Romanticismo</h2>
            <h3>Epoca</h3>
            <p>Descripcion</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="card-content">
          <img src="assets/images/p1.jpg"/>
          <div>
            <h2>Romanticismo</h2>
            <h3>Epoca</h3>
            <p>Descripcion</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="card-content">
          <img src="assets/images/p1.jpg"/>
          <div>
            <h2>Romanticismo</h2>
            <h3>Epoca</h3>
            <p>Descripcion</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  
  </ion-content>