<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title mode="md" class="ion-no-padding">
        <ion-label>
          <ion-text color="tertiary">Detector de Arte!</ion-text>
          <p><ion-text color="white"><strong>IA-Art DETECTOR</strong></ion-text></p>
        </ion-label>
      </ion-title>
      <ion-avatar slot="end">
        <img src="assets/imgs/img.png" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
</ion-content>