<ion-content [fullscreen]="true" class="custom-content">

  <div class="background-container">
    <img src="assets/imgs/fondo.jpg" alt="Fondo" class="background-image" />
  </div>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title mode="md" class="ion-no-padding">
        <ion-label>
          <ion-text color="tertiary" >Detector de Arte!</ion-text>
          <p><ion-text color="white"><strong>IA-Art DETECTOR</strong></ion-text></p>
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Contenido para cada corriente artística -->
  







</ion-content>