<ion-content>
  <div class="background-container">
    <img src="assets/imgs/fondo.jpg" alt="Fondo" class="background-image" />
  </div>
  
  <ion-header>
    <ion-toolbar>
      <ion-title mode="md">
        <ion-label>
          <ion-text>Detector de Arte!</ion-text>
          <p><ion-text><strong>Obras representativas</strong></ion-text></p>
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="art-section">
    <!-- renacimiento -->
    <h1 class="art-title">Renacimiento</h1>
    <div class="art-grid">
      <div style="text-align: center;">
        <img src="assets/imgs/renacimiento1.jpg" alt="La última cena" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">La última cena - Leonardo da Vinci.</p>
      </div>
      <div style="text-align: center;">
        <img src="assets/imgs/renacimiento2.jpg" alt="La creación de Adán" class="grid-image" style="width: 100%; height: 250px; object-fit: cover; object-position: -25px" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">La creación de Adán - Miguel Ángel.</p>
      </div>
      <div style="text-align: center;">
        <img src="assets/imgs/renacimiento3.jpg" alt="La escuela de Atenas" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">La escuela de Atenas - Rafael.</p>
      </div>
      <div class="grid-characteristics">
        <h2><strong>Características:</strong></h2>
        <ul>
          <li>Uso de perspectiva lineal.</li>
          <li>Proporción y realismo.</li>
          <li>Temas clásicos de la mitología y religión.</li>
          <li>Influencia de la cultura grecorromana.</li>
          <li>Humanismo: enfoque en la dignidad y potencial del ser humano.</li>
          <li>Interés en la anatomía y el cuerpo humano.</li>
          <li>Arte como reflejo de la belleza y la perfección natural.</li>
          <li>Énfasis en la simetría y la composición equilibrada.</li>
        </ul>
      </div>
    </div>

    <!-- barroco -->
    <h1 class="art-title">Barroco</h1>
    <div class="art-grid">
      <div style="text-align: center;">
        <img src="assets/imgs/barroco1.jpg" alt="Judith decapitando a Holofernes" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">Judith decapitando a Holofernes - Artemisia Gentileschi.</p>
      </div>
    
      <div style="text-align: center;">
        <img src="assets/imgs/barroco2.jpg" alt="La lección de anatomía del Dr. Nicolaes Tulp" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">La lección de anatomía del Dr. Nicolaes Tulp - Rembrandt.</p>
      </div>
    
      <div style="text-align: center;">
        <img src="assets/imgs/barroco3.jpg" alt="Las meninas" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">Las meninas - Diego Velázquez.</p>
      </div>
      <div class="grid-characteristics">
        <h2><strong>Características:</strong></h2>
        <ul>
          <li>Ornamentación exagerada.</li>
          <li>Contrastes fuertes entre luz y oscuridad.</li>
          <li>Drama e intensidad emocional.</li>
          <li>Escenas religiosas y mitológicas.</li>
          <li>Dinámico y teatral en composición.</li>
          <li>Perspectiva compleja y efectos tridimensionales.</li>
          <li>Movimiento y expresividad en figuras humanas.</li>
          <li>Influencia de la Iglesia Católica en el arte religioso.</li>
        </ul>
      </div>
    </div>

    <!-- postimpresionismo -->
    <h1 class="art-title">Postimpresionismo</h1>
    <div class="art-grid">
      <div style="text-align: center;">
        <img src="assets/imgs/post1.jpg" alt="La noche estrellada" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">La noche estrellada - Vincent van Gogh.</p>
      </div>
      <div style="text-align: center;">
        <img src="assets/imgs/post2.jpg" alt="Mont Sainte-Victoire" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">Mont Sainte-Victoire - Paul Cézanne.</p>
      </div>

      <div style="text-align: center;">
        <img src="assets/imgs/post3.jpg" alt="Los girasoles" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">Los girasoles - Vincent van Gogh.</p>
      </div>
        <div class="grid-characteristics">
        <h2><strong>Características:</strong></h2>
        <ul>
          <li>Uso de colores intensos.</li>
          <li>Pinceladas expresivas.</li>
          <li>Temas personales y subjetivos.</li>
          <li>Rechazo del realismo óptico.</li>
          <li>Exploración de emociones y simbolismo en lugar de realismo.</li>
          <li>Inspiración en temas de la naturaleza, la vida cotidiana y lo espiritual.</li>
          <li>Rechazo de las limitaciones académicas del arte tradicional.</li>
        </ul>
      </div>
    </div>

    <!-- cubismo -->
    <h1 class="art-title">Cubismo</h1>
    <div class="art-grid">
      <div style="text-align: center;">
        <img src="assets/imgs/cubismo1.jpg" alt="Las señoritas de Avignon" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">Las señoritas de Avignon – Pablo Picasso.</p>
      </div>
      <div style="text-align: center;">
        <img src="assets/imgs/cubismo2.jpg" alt="El violín y el candelabro" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">El violín y el candelabro - Georges Braque.</p>
      </div>
      <div style="text-align: center;">
        <img src="assets/imgs/cubismo3.jpg" alt="Guernica" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">Guernica - Pablo Picasso.</p>
      </div>
      <div class="grid-characteristics">
        <h2><strong>Características:</strong></h2>
        <ul>
          <li>Formas fragmentadas y abstractas.</li>
          <li>Perspectiva múltiple.</li>
          <li>Uso de geometría básica.</li>
          <li>Combinación de planos en un solo objeto.</li>
          <li>Ausencia de profundidad tradicional en las obras.</li>
          <li>Colores planos y sobrios en las primeras etapas.</li>
          <li>Incorporación de elementos no artísticos como recortes y textos (en collage).</li>
        </ul>
      </div>
    </div>

    <!-- naif -->
    <h1 class="art-title">Arte Naíf</h1>
    <div class="art-grid">
      <div style="text-align: center;">
        <img src="assets/imgs/naif1.jpg" alt="El sueño" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">El sueño - Henri Rousseau.</p>
      </div>
      <div style="text-align: center;">
        <img src="assets/imgs/naif2.jpg" alt="Spring Blessings in Eleisis" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">Spring Blessings in Eleisis – Sara Catena.</p>
      </div>
      <div style="text-align: center;">
        <img src="assets/imgs/naif3.jpg" alt="El león hambriento atacando un antílope" class="grid-image" style="width: 100%; height: 250px; object-fit: cover;" />
        <p style="margin: 5px 0 0; font-size: 0.9em; color: #666;">El león hambriento atacando un antílope - Henri Rousseau.</p>
      </div>
      <div class="grid-characteristics">
        <h2><strong>Características:</strong></h2>
        <ul>
          <li>Sencillez y espontaneidad.</li>
          <li>Colores vivos y líneas simples.</li>
          <li>Representaciones de la vida cotidiana.</li>
          <li>Uso de proporciones poco convencionales.</li>
          <li>Rechazo de las técnicas académicas tradicionales.</li>
          <li>Inspiración en paisajes rurales y escenas familiares.</li>
          <li>Enfoque emocional más que técnico.</li>
          <li>Relación íntima y personal con el tema pintado.</li>
        </ul>
      </div>
    </div>

  </div>
</ion-content>