<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="tertiary">Welcome</ion-text>
        <p><ion-text color="white"><strong>Nikhil Ag.</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/imgs/img.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Balance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>₹200000</ion-label>
        <ion-note>57868945098</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>