<ion-content [fullscreen]="false">
  <div class="background-container">
    <img src="assets/imgs/fondo.jpg" alt="Fondo" class="background-image" />
  </div>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title mode="md">
        <ion-label>
          <ion-text>Detector de Arte!</ion-text>
          <p><ion-text><strong>IA-Art DETECTOR</strong></ion-text></p>
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="!imageReady()">
    <ion-card-content class="card-content">
      <h1 class="mensaje">¡Te ayudamos a categorizar tu arte!</h1>
      <div class="imgContainer">
        <img src="assets/imgs/pintando.jpg" alt="Imagen" class="imagen" height="300px"/>
      </div>
      <p class="submessage">Sube una foto artística y prediciremos de qué corrientes tomaste influencia.</p>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center ion-padding-top ion-padding-bottom">
    <ion-button *ngIf="!imageReady()" expand="block" (click)="fileInput.click()">
      <ion-icon slot="start" name="cloud-upload-outline" color="white"></ion-icon>
      CARGAR IMAGEN
    </ion-button>
  </div>

  <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />

  <div *ngIf="imageReady()" class="grid-container">
    <div class="creation-container">
      <h1 class="message">Tu creación:</h1>
      <img #image [src]="imageUrl()" alt="Selected Image" class="imagen" />
      <div *ngIf="topPrediction" class="prediction-container">
        <br />
        <h2 class="prediction-title">Corriente predominante:</h2>
        <h2 class="prediction-class">{{ topPrediction?.className }}</h2>
      </div>
    </div>

    <div class="identified-container">
      <h1 class="message">Corrientes Identificadas:</h1>
      <ion-card *ngIf="predictions.length > 0" class="prediction-card">
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let item of predictions; let i = index" lines="none" class="prediction-item">
              <ion-thumbnail slot="start" class="thumbnail">
                <img alt="{{ item?.className }}" [src]="'assets/imgs/' + item?.className.toLowerCase() + '.jpg'" class="imageR" />
              </ion-thumbnail>
              <ion-label>
                <h2 class="prediccionl">{{ item?.className }}</h2>
                <p class="result-text">Probabilidad: {{ item?.probability | percent }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="ion-text-center ion-padding-top ion-padding-bottom">
    <ion-button *ngIf="imageReady() && buttonVisible" class="upload-button" expand="block" (click)="predict()">
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      Identificar
    </ion-button>
  </div>

  <div class="ion-text-center ion-padding-top ion-padding-bottom">
    <ion-button *ngIf="imageReady()" class="upload-button" expand="block" (click)="reset()">
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      Nuevo!
    </ion-button>
  </div>
</ion-content>
