<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="tertiary">Detector de Arte!</ion-text>
        <p><ion-text color="white"><strong>IA-Art DETECTOR</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/imgs/img.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Purpose Section -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>
        Proposito
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aqui textaco
    </ion-card-content>
  </ion-card>

  <!-- Mission Section -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>
        Definicion
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      textaco!
    </ion-card-content>
  </ion-card>

  <!-- Members Section -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>
        Miembros del team
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let member of members" color="transparent">
          <ion-avatar slot="start">
            <img [src]="member.photo" alt="Member photo" />
          </ion-avatar>
          <ion-label>
            <h2>{{ member.name }}</h2>
            <p>{{ member.role }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>