.titulo {
    color: var(--ion-color-primary);
      font-weight: bold;
      text-align: center;
  }
 
  p#descripcion {
    text-align: justify;
  }

  ion-header {
    ion-toolbar {
        --padding-start: 16px;
        --padding-end: 16px;
        ion-title {
            max-width: 40vh;
            ion-label {
                ion-text {
                    font-size: 1rem;
                }
                p {
                    ion-text {
                        font-size: 1.3rem !important;
                    }
                }
            }
        }
        ion-avatar {
            height: 2.5rem;
            width: 2.5rem;
            border: 1px solid var(--ion-color-tertiary);
            img {
                max-width: 100%;
            }
        }
    }
}